.pageContainer {
  width: 100%;
  min-height: calc(100vh - 64px);
  background-color: #F8FAFD;
  overflow-y: auto;
}

.innerContent {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px 100px 40px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .innerContent {
    padding: 0 20px 100px 20px;
  }
}
